ul{
    display: flex;
    

}
ul > li {
    margin-right: 10px;
    list-style: none;
    padding: 10px;
}
ul>li>a{
    text-decoration: none;
    font-size: 20px;
}
ul>li:hover{
    background-color: red;
}